body {
    background-color: #F0F0F0;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #3498DB;
    color: #ECF0F1;
    text-align: center;
    padding: 15px;
  }
  
  .ch1 {
    font-size: 60px;
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 4px #ECF0F1;
    margin: 0;
  }
  
  .hp1 {
    background-color: #3498DB;
    color: #ECF0F1;
    padding: 10px;
    text-align: center;
  }
  
  nav {
    text-align: center;
  }
  
  .right {
    margin-right: 20px;
    font-size: 20px;
    color: #ECF0F1;
    text-decoration: none;
    padding: 10px;
  }
  
  .pp1 {
    padding: 20px;
    text-align: center;
  }
  
  .ap1 {
    padding: 20px;
    text-align: center;
  }
  
  .ap1 h1 {
    color: #3498DB;
    font-size: 35px;
    text-align: center;
  }
  
  .ap1 p {
    color: #34495E;
    line-height: 1.5;
    font-size: 20px;
    text-align: center;
  }
  
  .ap1 li {
    margin-bottom: 15px;
    font-size: 18px;
    list-style-type: none;
  }
  
  .fp1 {
    padding: 20px;
    text-align: center;
  }
  
  #sign-in {
    font-size: 20px;
    color: #3498DB;
  }
  
  .fp1 label {
    font-size: 18px;
    line-height: 1.8;
    color: #3498DB;
    text-align: left;
  }
  
  .fp1 input[type=text]:focus,
  .fp1 input[type=password]:focus {
    background-color: #2980B9;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
  }
  
  .fp1 input {
    width: 100%;
    height: 40px;
    padding: 8px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #3498DB;
  }
  
  .user,
  .btn,
  .NoYesbtn {
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border-radius: 10px;
  }
  
  .user {
    padding: 12px 20px;
    color: #ECF0F1;
    background-color: #3498DB;
    border: 2px solid #2980B9;
    box-shadow: 0 5px #34495E;
  }
  
  .user:hover {
    transition-duration: 0.5s;
    background-color: #2980B9;
  }
  
  .btn {
    padding: 10px 16px;
    color: #ECF0F1;
    background-color: #2C3E50;
    border: 2px solid #34495E;
    box-shadow: 0 4px #BDC3C7;
  }
  
  .btn:hover {
    transition-duration: 0.5s;
    background-color: #34495E;
  }
  
  .NoYesbtn {
    padding: 14px 24px;
    color: #ECF0F1;
    background-color: #E74C3C;
    border: 2px solid #C0392B;
    box-shadow: 0 5px #BDC3C7;
    margin: 20px;
    transition: transform 0.4s ease;
  }
  
  .NoYesbtn:hover {
    transition-duration: 0.5s;
    background-color: #C0392B;
  }
  
  #noButton {
    cursor: pointer;
    position: absolute;
    left: 50px;
  }
  
  .NoYesbtn.move {
    transition: transform 0.4s ease;
    left: 250px;
  }
  
  .review {
    color: #E74C3C;
    font-size: 20px;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #34495E;
    color: #ECF0F1;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
  }
  